<app-header></app-header>
  <div class="content-wrapper">
    
    <section class="content">
      <app-center></app-center>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
           <app-grafico></app-grafico>
        </div>
          <div class="col-md-4">
            <div class="card">
             <app-estatisticas></app-estatisticas>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <app-footer></app-footer>
  <router-outlet></router-outlet>