<div class="card">
    <div class="card-header">
      <h5 class="card-title">Relatório de recapitulação mensal</h5>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-wrench"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" role="menu">
            <a href="#" class="dropdown-item">Ação</a>
            <a href="#" class="dropdown-item">Outra Ação</a>
            <a href="#" class="dropdown-item">Alguma coisa aqui</a>
            <a class="dropdown-divider"></a>
            <a href="#" class="dropdown-item">link separado</a>
          </div>
        </div>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <p class="text-center">
            <strong>Vendas: 1 Jan, 2020 - 31 Dez, 2020</strong>
          </p>
          <div class="chart">
            <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>